# Source: anonymized production Laravel project
# Level max is already enabled. Further work is to narrow down array in public API:
# @return array{...}, @phpstan-type, typed DTO.
includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    phpVersion: 80300
    level: max
    paths:
        - app
    bootstrapFiles:
        - vendor/autoload.php
    inferPrivatePropertyTypeFromConstructor: true
